<form name="cadastroCargaForm">
    <div class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">

                <label for="id"> Código </label>
                <input id="id" name="id" type="text" ng-model="carga.id" />
                <br>
                <label for="tiposCarga"> Tipo de Carga </label>
                <input id="tiposCarga" name="tiposCarga" type="text" ng-model="carga.tiposCarga" minlength="2" required />
                <span class="avisos1" ng-show="cadastroCargaForm.tiposCarga.$erro.required"> (*) </span>
                <span class="avisos1" ng-show="cadastroCargaForm.tiposCarga.$dirty && cadastroCargaForm.tiposCarga.$erro.required"> * Campo Obrigatorio </span>
                <span class="avisos1" ng-show="cadastroCargaForm.tiposCarga.$dirty && cadastroCargaForm.tiposCarga.$erro.minlength"> * Minimo 5 caracters </span>
                <br>
                <label for="transps"> Transportadora </label>
                <input id="transps" name="transps" type="text" ng-model="carga.transps" minlength="2" required />
                <span class="avisos1" ng-show="cadastroCargaForm.transps.$erro.required"> (*) </span>
                <span class="avisos1" ng-show="cadastroCargaForm.transps.$dirty && cadastroCargaForm.transps.$erro.required"> * Campo Obrigatorio </span>
                <span class="avisos1" ng-show="cadastroCargaForm.transps.$dirty && cadastroCargaForm.transps.$erro.minlength"> * Minimo 5 caracters </span>
                <br>
                <label for="cidades"> Cidade </label>
                <input id="cidades" name="cidades" type="text" ng-model="carga.cidades" minlength="2" required />
                <span class="avisos1" ng-show="cadastroCargaForm.cidades.$erro.required"> (*) </span>
                <span class="avisos1" ng-show="cadastroCargaForm.cidades.$dirty && cadastroCargaForm.cidades.$erro.required"> * Campo Obrigatorio </span>
                <span class="avisos1" ng-show="cadastroCargaForm.cidades.$dirty && cadastroCargaForm.cidades.$erro.minlength"> * Minimo 5 caracters </span>
                <br>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label for="multi-state">Estado</label>
                    <select id="multi-state" class="pure-input-1-8"  ng-model="carga.estado">
                        <option>SC</option>
                        <option>MG</option>
                        <option>RS</option>
                        <option>DF</option>
                        <option>PR</option>
                        <option>SP</option>
                        <option>RJ</option>
                        <option>EP</option>
                        <option>AC</option>
                    </select>
                </div>
                <label for="tipos"> Tipo </label>
                <input id="tipos" name="tipos" type="text" ng-model="carga.tipos" minlength="2" required />
                <span class="avisos1" ng-show="cadastroCargaForm.tipos.$erro.required"> (*) </span>
                <span class="avisos1" ng-show="cadastroCargaForm.tipos.$dirty && cadastroCargaForm.tipos.$erro.required"> * Campo Obrigatorio </span>
                <span class="avisos1" ng-show="cadastroCargaForm.tipos.$dirty && cadastroCargaForm.tipos.$erro.minlength"> * Minimo 2 caracters </span>
                <br>
                <label for="peso"> Peso(Tonelada) </label>
                <input id="peso" name="peso" type="text" ng-model="carga.peso" />
                <br>
                <label for="aligned-cb" class="pure-checkbox">
                    <input type="checkbox" id="aligned-cb" /> Li e concordo com os termos e condições.</label>
                <button ng-click="SALVAR(carga)" ng-disabled="cadastroCargaForm.$invalid"> Salvar </button>
                <button ng-click="SALVARCadastrarNovos(carga)" ng-disabled="cadastroCargaForm.$invalid"> Salvar e Cadastrar </button>
                <button ng-click="CANCELAR()"> Cancelar </button>
            </div>
        </fieldset>
    </div>
</form>
